* {
    border: none;
    border-radius: 0;
    font-family: "Iosevka Nerd Font";
    font-size: 13px;
    font-weight: 600;
}

window#waybar {
    background: rgba(0, 0, 0, 0.8);
}

#workspaces {
    margin-left: 8px;
}

#workspaces button {
    color: rgb(255, 255, 255);
    border-bottom: 2px solid transparent;
    min-height: 0;
    margin: 0px 12px 0px 0px;
    padding: 0px;
}

#workspaces button.urgent {
    color: red;
    border-bottom: 2px solid red;
}

#workspaces button.active {
	color: rgb(255, 255, 255);
    border-bottom: 2px solid white;
}

#clock {
    color: rgb(255, 255, 255);
}

#battery {
    color: rgb(255, 255, 255);
    margin-right: 8px;
}

#battery.critical {
    color: red;
}

#battery.warning {
    color: rgb(126, 205, 78);
}

#network {
    color: rgb(255, 255, 255);
    margin-right: 12px;
}

#pulseaudio {
    color: rgb(255, 255, 255);
    margin-right: 12px;
}

#backlight {
    color: rgb(255, 255, 255);
    margin-right: 12px;
}

