* {
    border: none;
    border-radius: 0;
    font-family: "Iosevka Nerd Font";
    font-size: 14px;
    font-weight: 600;
    min-height: 0;
}

window#waybar {
    background: transparent;
}


#workspaces button {
    background: transparent;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-right: 4px;
}

#workspaces button.urgent {
    background: red;
    color: rgb(255, 255, 255);
}

#workspaces button.active {
    background: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
}

#clock {
    background: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
}

#battery {
    color: rgb(255, 255, 255);
    margin-left: 8px;
    margin-right: 8px;
}

#battery.critical {
    color: red;
}

#battery.warning {
    color: rgb(126, 205, 78);
}

#network {
    color: rgb(255, 255, 255);
    margin-left: 8px;
    margin-right: 8px;
}


#pulseaudio {
    color: rgb(255, 255, 255);
    margin-left: 8px;
    margin-right: 8px;
}

#backlight {
    color: rgb(255, 255, 255);
    margin-left: 8px;
    margin-right: 8px;
}

#info {
    background: rgba(0, 0, 0, 0.9);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    margin-right: 8px;
}

#utils {
    background: rgba(0, 0, 0, 0.9);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
}

#cpu {
    color: rgb(255, 255, 255);
    margin-left: 8px;
    margin-right: 8px;  
}

#temperature {
    color: rgb(255, 255, 255);
    margin-left: 8px;
    margin-right: 8px;
}

#memory {
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.9);
    margin-left: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
}

#cpubar {
    background: rgba(0, 0, 0, 0.9);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    margin-left: 8px;
}
