configuration {
    modi: "drun";
    show-icons: true;
    display-drun: "";
    drun-display-format: "{name}";
    show-match: false;
    font: "JetBrainsMono Nerd Font 10";
}

@theme "/dev/null"

* {
    background-color: transparent;
}

window {
    width:            350px;
}

mainbox {
    children:         [ inputbar, listview ];
    background-color: rgb(0, 0, 0, 0.9);
    border-color: transparent;
    border-radius: 12px;
}

inputbar {
    margin:           16px 16px 16px 16px;
    padding:          12px 12px 12px 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius:    12px;
    children:         [ prompt,entry ];
}

prompt {
    text-color:       rgba(255, 255, 255, 0.6);
    padding:          0px 12px 0px 5px;
}

entry {
    text-color:       rgba(255, 255, 255,1);
    placeholder:      "Search Apps...";
    placeholder-color: rgba(255, 255, 255, 0.6);
}

listview {
    lines:            6;
    columns:          1;
    fixed-height:     false;
    margin:           0px 16px 16px 16px;
}

element {
    padding:          8px 12px 8px 12px;
    border-radius:    10px;
}

element selected {
    background-color: rgba(255, 255, 255, 0.1);
}

element-icon {
    size:             22px;
    margin:           0 12px 0 0;
}

element-text {
    vertical-align:   0.5;
    color:            rgba(255, 255, 255,0.8);
}

