configuration {
    modi: "drun";
    show-icons: true;
    display-drun: "";
    drun-display-format: "{name}";
    show-match: false;
}

@theme "/dev/null"

* {
    bg:          #011919; /* Deep blue glass */
    bg-sel:      #1d3557;   /* Selection blue */
    fg:          #e6f1ff;   /* White text */
    accent:      #ffffff;   /* Teal accent */
    
    background-color: transparent;
    font: "JetBrainsMono Nerd Font 10";
}

window {
    width:            400px;
    x-offset:         0px;
    y-offset:         0px;
    border:           0px;
    border-color:     #ff0c0c00;
    background-color: @bg;
    padding: 4px;
}

mainbox {
    spacing:          0px;
    children:         [ inputbar, listview ];
    background-color: @bg;
}

inputbar {
    margin:           14px;
    padding:          8px 10px 10px 10px;
    background-color: #57696933;
    border-radius:    12px;
    children:         [ prompt,entry ];
}

prompt {
    text-color:       @accent;
    padding:          0px 12px 0px 5px;
}

entry {
    text-color:       @accent;
    placeholder:      "Search Apps...";
    placeholder-color: @accent;
}

listview {
    lines:            6;
    columns:          1;
    fixed-height:     false;
    margin:           5px 15px 15px 15px;
}

element {
    padding:          8px;
    border-radius:    10px;
}

element selected {
    background-color: #17556d50;
    text-color:       @accent;
}

element-icon {
    size:             22px;
    margin:           0 10px 0 0;
}

element-text {
    vertical-align:   0.5;
    color:            White;
}

